### `Цикл for, списки и функции`

# Кортежи

In [5]:
a = (1, 2, 3)
b = (4, 5, 6)
c = ('X', 'y', 8)
print('Суммируем кортеж:', a + b + c)
print('Срез кортежа, вывод с 1го элемента:', b[1:])

Суммируем кортеж: (1, 2, 3, 4, 5, 6, 'X', 'y', 8)
Срез кортежа, вывод с 1го элемента: (5, 6)

In [6]:
a = ((1,2), 3.5, 'abcd') # кортеж в кортеже
print(a[0][1]) # вывести 0 элемент 1 кортежа и 1 элемент 2 го кортежа

2

In [7]:
a = ((1,2), 3.5, 'abcd')
print('Длина кортежа:', len(a))

Длина кортежа: 3

In [11]:
# сборка или оборачивание в кортеж
a = 1
b = 2
c = 'test'
myTuple  = a, b, c # или myTuple  = (a, b, c)
d, e, f = myTuple
print('сборка или оборачивание в кортеж:', myTuple)
print('Распаковка из кортежа в переменные:', d, e, f)

сборка или оборачивание в кортеж: (1, 2, 'test')
Распаковка из кортежа в переменные: 1 2 test

In [14]:
# поменять переменные местами
a = 1
b = 2
print(a, b)
a, b = b, a # или (a, b) = (b, a)
print(a, b)

1 2
2 1

# Функция range и цикл for

In [27]:
print(tuple(range(51)),'\n') # от 0 до 50
print(tuple(range(1,51)),'\n') # от 1 до 50
print(tuple(range(1,51,2)),'\n') # от 1 до 50, шаг 2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49)

In [30]:
for color in ('green', 'red', 'yellow'):
    for fruit in ('apple', 'pear', 'apricot'): # вложенный цикл, перебираем с первым элементов основного цикла все 
        print(color, fruit)                    # элементы fruit
print('End loop')

green apple
green pear
green apricot
red apple
red pear
red apricot
yellow apple
yellow pear
yellow apricot
End loop

In [46]:
[num for num in range(1,101,3) if num % 10 == 0]

[10, 40, 70, 100]

In [48]:
res = []
for num in range(1,101,3):
    if num % 10 == 0:
        res.append(num)
print(res)

[10, 40, 70, 100]

In [50]:
for i in range(5):
    print('abc')

abc
abc
abc
abc
abc

In [56]:
# таблица умножения

for i in range(1,11):
    for j in range(1,11):
        if i * j < 10:
            print(end=' ')
        print(i * j, end=' ')
    print()

 1  2  3  4  5  6  7  8  9 10
 2  4  6  8 10 12 14 16 18 20
 3  6  9 12 15 18 21 24 27 30
 4  8 12 16 20 24 28 32 36 40
 5 10 15 20 25 30 35 40 45 50
 6 12 18 24 30 36 42 48 54 60
 7 14 21 28 35 42 49 56 63 70
 8 16 24 32 40 48 56 64 72 80
 9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## `Задача`

Вводится целое положительное число N. Выведите все числа по убыванию от N до 1 включительно через пробел.

In [3]:
num = int(input())
for i in range(num,0,-1):
    print(i, end=' ')

1
1

## `Задача`
Вводится число целое положительное число N. Напечатайте все N-значные нечетные целые положительные числа в порядке убывания. Например, если вводится число 3, то необходимо печать трёхзначные числа (состоящие из трех цифр).

Подсказка: Вспомните про возведение 10 в степень

In [32]:
# решение без for 
n = int(input())
print(*range(10**n - 1, 10**(n - 1) - 1, -2))

2
99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11

In [15]:
print(*range(1,11))

1 2 3 4 5 6 7 8 9 10

In [13]:
# решение через for
n = int(input())
for i in range(10**n - 1, 10**(n - 1) - 1, -2):
    print(i, end=' ')

1
9 7 5 3 1

## `Задача`

По введенному целому положительному числу N посчитайте N! (N факториал).

Факториалом числа N называется произведение всех чисел от 1 до N.

In [27]:
n = int(input())
res = n
for i in range(1, n):
    res*= i
print(res)

4
4
8
24
24

## `Задача`

По введенному целому положительному N вычислите сумму 1! + 2! + 3! + ... + N!

Эту задачу было бы здорово решить используя только один цикл.

In [31]:
n = int(input())
f = 1
s = 0
for i in range(1,n + 1):
    f = f * i
    s = s + f
print(s)

3
1 1
2 3
6 9
9

In [40]:
tup = tuple(range(0,20,3)) # заполнение кортежа

a, b, *c = tup # разрез кортежа в переменные (c - край кортежа)
print(a, b, c)

*c1, a1, b1 = tup # разрез кортежа в переменные (c - начало кортежа)
print(a1, b1, c1)

print(*tup) # вывести значения кортежа
type(tup)

0 3 [6, 9, 12, 15, 18]
15 18 [0, 3, 6, 9, 12]
0 3 6 9 12 15 18

tuple

# Списки

In [46]:
# a и b ссылаются на один и тот же объект, меняя один список меняется и другой
a = [1, 2, 3]
b = a
a[0] = 5
print(a, b)

[5, 2, 3] [5, 2, 3]

In [42]:
a = [1, 2, 3]
b = a.copy() # для b создан отдельный объект и он не поменялся
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [43]:
a = [1, 2, 3]
b = a[:] # для b создан отдельный объект, так как взяли срез всех элементов
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [47]:
a = [1, 2, 3]
b = a
a = [4, 5] # для a создан новый объект , поэтому b не поменялось
print(a, b)

[4, 5] [1, 2, 3]

# Чтение списков

- split
- map
- join

In [41]:
num_input = list(map(int, input().split())) # функция map преобразует в тот формат, что задан на входе, здесь это int
                                            # split разделяет по пробелам, list  - преобразуем в список
print('Вывод списком: ', num_input)
print('Вывод развернутого списка, в виде чисел:', *num_input) # * для вывода в виде чисел

45 77 3545 47 23
Вывод списком:  [45, 77, 3545, 47, 23]
Вывод развернутого списка, в виде чисел: 45 77 3545 47 23

In [46]:
num_input = list(map(int, input().split()))
print(', '.join(list(map(str, num_input[::-1])))) # join разделяет элементы списка заданным разделителем
                                                  # преобразовали обратно список в str, так как join работает с str
print(', '.join(map(str, num_input)))             # можно не сипользовать list , так как join берет поочередно 
                                                  # элементы  из объекта map

45 78 36 66 55
55, 66, 36, 78, 45
45, 78, 36, 66, 55

### `Задача`
Вводится строка, состоящая из слов, разделенных одним пробелом. <br>Выведите все слова по одному в строке (пробелы выводить не нужно).

Эта задача удобно решается с помощью методов split и join. <br> Напомним, что перевод строки обозначается как \n внутри строковой константы.

In [60]:
num_input = list(input().split())
for i in num_input:
    print(i)

First second third
First
second
third

In [62]:
num_input = list(input().split())
[print(i) for i in num_input]

456 6456 64
456
6456
64

[None, None, None]

In [66]:
[print(line) for line in input().split()]

join two j one start
join
two
j
one
start

[None, None, None, None, None]

### `Задача`
В первой строке вводится строка-разделитель.

Во второй строке вводится текст, состоящий из слов, разделенных пробелом.

Выведите слова из текста, разделяя их строкой-разделителем.

In [73]:
sep = input()
text = input().split()
print(sep.join(text))

123
A B Cd Efg
A123B123Cd123Efg
['A', 'B', 'Cd', 'Efg']

### `Задача`
Выведите все элементы списка с четными индексами (то есть A[0], A[2], A[4], ...). Постарайтесь не использовать if, а придумать правильные параметры для range.

In [89]:
# 1 вариант
num = input().split()

for line in num:
    if int(line) % 2 != 0:
        print(line, end=' ')

1 2 3 4 5
1 3 5

In [94]:
# 2 вариант
print(*" ".join(input()).split()[::2])

1 2 3 4 5
1 3 5

In [96]:
# прошедшее решение
num = input().split()
for line in range(0, len(num),2):
    print(num[line], end=' ')

1 2 3 4 5
1 3 5

## `Задача`
Выведите все четные элементы списка.

In [5]:
num = input().split()
for search in num:
    if int(search) % 2 == 0:
        print(search, end=' ')

68 60 -32 12 68 34 -92 -24 90 34 21 66 90 32 67 56 80 5 -68 94 -51 -44 3 -26 -65 -41 -53 30 -97 74 70 59 81 -16 -94 -28 -96 84 76 -48 -31 27 80 36 57 -67 -61 -87 2 61 -32 -55 34 41 70 -11 -78 -82 -8 11 -48 31 87 30 -50 -86 -21 6 -99 67 -69 -79 41 -54 -10 17 83 -31 -17 -58 17 -78 -64 -7 81 -12 2 -82 -75 -67 88 46 -5 -62 -50 78 -23 71 -90 39
68 60 -32 12 68 34 -92 -24 90 34 66 90 32 56 80 -68 94 -44 -26 30 74 70 -16 -94 -28 -96 84 76 -48 80 36 2 -32 34 70 -78 -82 -8 -48 30 -50 -86 6 -54 -10 -58 -78 -64 -12 2 -82 88 46 -62 -50 78 -90

## `Задача`
Дан список чисел. Выведите значение наибольшего элемента в списке, а затем индекс этого элемента в списке. Если наибольших элементов несколько, выведите индекс первого из них.

In [12]:
# s = [int(i) for i in input().split()]
s = []
for i in input().split():
    s.append(int(i))

max = s[0]
ind = 0


for i in range(1,len(s)):
    if (s[i] > max):
        max = s[i]
        ind = i
print (max, ind)

12 45 67 9 0 4
67 2

## `Задача`
Дан список чисел. Выведите все элементы списка, которые больше предыдущего элемента.

In [79]:
num = input().split()
start = num[0]
num_list = []

for i in range(len(num)):
    if (i + 1 < len(num)):
        if num[i + 1] < start:
                num_list.append(num[i])
                start = num[i]
print(*num_list)

345354

In [95]:
#num = input().split()
#num = list(map(int, input().split()))
#num = [int(i) for i in input()]
num = []
for i in input().split():
    num.append(int(i))
num_list = []

for i in range(len(num)-1):
    if num[i] < num[i+1]:
        num_list.append(num[i+1])

print(*num_list)

5 1 5 1 5
5 5